@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}
/* .container {
  display: flex;
  flex-direction: column;
  background-color: #f7f7f7;
  height: 100vh;
} */
/* .home {
  display: flex;
  justify-content: center;
  width: 30%;
  margin-right: auto;
  margin-left: auto;
  height: 10vh;
} */
/* .header {
  display: flex;
  justify-content: center;
  font-size: 30px;
  align-items: center;
} */
/* .balance {
  width: 30%;
  height: 25vh;
  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
} */

/* .balance-heading {
  display: block;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 30px;
  margin-bottom: 20px;
  border-bottom: 2px solid grey;
  font-weight: bold;
} */
/* .balance-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 20px;
} */

/* .balance-type {
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #fff;
} */
/* .balance-income {
  display: flex;
  flex-direction: column;
  margin: 20px;
}
.balance-expense {
  display: flex;
  flex-direction: column;
  margin: 20px;
} */
/* .history {
  margin-top: 50px;
  width: 30%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
} */

/* .history-heading {
  display: block;
  border-bottom: 2px solid grey;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 30px;
  margin-bottom: 20px;
} */

/* .history-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 20px;
} */

/* .transaction {
  width: 30%;
  height: 40vh;
  margin-right: auto;
  margin-left: auto;
} */

/* .head {
  font-size: 30px;
  display: flex;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  border-bottom: 2px solid grey;
} */

/* .form-controls {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
} */

/* .form-input-controls label {
  display: block;
  margin-bottom: 5px;
  font-size: 20px;
} */
/* .form-input-controls input {
  font: inherit;
  padding: 7px;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 15vw;
  margin-bottom: 5px;
} */

/* .form-button {
  width: 15vw;
  height: 40px;
  background-color: rgb(173, 173, 255);
  border-radius: 6px;
  font-weight: bolder;
} */
.form-button:hover {
  cursor: pointer;
}
